*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
}

/* Header nav and hero */
header{
    color: rgb(24, 10, 10);
    width: 100%;
    height: 640px;
    background: url(img/pork1.jpg)no-repeat center center/cover;
    box-shadow: 0 0 10px black;
}

header::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

nav{
    width: 100%;
    background: rgba(2, 2, 2, 0.349);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: fixed ;
}

ul{
    border: 2px solid rgba(0, 0, 0, 0.219);
    display: flex;
    list-style: none;
}

li{
    padding: 10px;
    margin: 10px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    color: rgb(54, 40, 3);
}

li:hover{
    border-bottom: 2px solid white;
}

button{
    color: white;
    background: rgb(175, 7, 7);
    margin: 20px;
    padding: 10px;
    border: none;
    z-index: 1;
    cursor: pointer;
}

button:hover{
    color: rgb(0, 0, 0);
    background: rgb(175, 7, 7);
    margin: 20px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 10px rgb(183, 183, 183);
}

header img{
    width: 100px;
    height: 100px;
}

.menu-toggle{
    display: none;
}

.hero{
    color: rgb(255, 255, 255);
    padding: 250px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    z-index: 1;
}

.hero h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.hero p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 20px 300px;
}

/* About Us */
.about{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 100px 50px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 640px;
}

.about-content{
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

}

.quality{
    margin-right: 20px;
    width: 100%;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: rgb(175, 7, 7);
    box-shadow: 0 0 10 rgb(58, 51, 51);
}

h1 p{
    padding: 10px;
}

.about-content h1 p{
    margin: 30px 0;
    padding: 30px 0;
}


.images{
    display: flex;
    background: url(img/pork.jpg)no-repeat center center/cover;
    margin: 20px 100px 20px 20px;
    width: 600px;
    height: 400px;
}

.img2{
    float: left;
    width: 200px;
    height: 200px;
    z-index: 0.9;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 0 0 0 100px;
}

.cc{
    float: inline-end;
    width: 500px;
    height: 300px;
    background: url(img/79600683.jpg)no-repeat center center/cover;
    margin: 200px 0 0 300px;
    padding: 0 0 100px 200px;
    border: 10px solid rgb(255, 255, 255);
}

/* Our Dishes */

.dishes{
    color: rgb(75, 30, 30);
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 100px 20px;
    background-color: rgb(255, 255, 255);
}

.about-dishes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.pork{
    display: flex;
}

.our-dishes{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.our-dishes img{
    width: 200px;
    height: 200px;
    margin: 20px 0;
    border-radius: 2px 30px;
    box-shadow: 0 0 10px black;
}

     /* Footer Section */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 100px 20px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-content img{
    width: 100px;
    height: 100px;
}

.social-media{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.315);
    
}

.social-media:hover{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(99, 4, 4);
}

.footer-link{
    display: flex;
    flex-direction: column;
}

.footer-link a{
    margin: 5px;
    font-weight: bold;
    color: rgb(70, 33, 33);
}
@media (max-width: 768px) {

    /* Header nav and hero */
   .menu-toggle{
    display: block;
    color: white;
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
   }

   .nav-links{
    display: none;
    flex-direction: column;
    float: left;
    margin-top: 100px;
    position: absolute;
    width: 200px;
    padding: 1rem;
    z-index: 1;
   } 

   .nav-links.active {
    display: flex;
    }

    .hero{
        padding: 200px 0 0 0;
    }

    .hero h1{
        font-size: 30px;
    }

    .hero p{
        padding: 20px 50px;
    }

    /* About Us */

    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 850px;
        padding: 150px 50px;
    }

    .images{
        width: 100%;
        height: 200px;
        padding: 20px;
        margin: 20px;
    }

    .cc{
        width: 300px;
        height: 100px;
        margin: 100px 0 0 40px;
        padding: 50px 0 50px 50px;
        border: 5px solid rgb(255, 255, 255);
    }

    .img2{
        width: 150px;
        height: 130px;
        border-radius: 0;
    }

    .quality{
        width: 100%;
        font-size: 12px;
        margin: 0;
    }

    /* Our Dishes */

    .dishes{
        width: 100%;
        height: 1050px;
        text-align: center;
        padding: 200px  50px;
    }
    
    .pork{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .our-dishes img{
    width: 150px;
    height: 150px;
    margin: 10px 0;
    border-radius: 2px 30px;
    }
}